   body {
      background: linear-gradient(45deg,#EEAECA,#94BBE9);
      color: aliceblue;
      font-family: Arial, Helvetica, sans-serif;
    }
    .main-div{
      align-self: center;
    }
    .container{
      border:none;
      padding: 20px;
      width:fit-content;
      border-radius: 10px;
      text-align: center;
       margin:100px auto; /*to bring div box in center*/
      background: linear-gradient(45deg,#020024,#090979,#00D4FF);
    }
    .container:hover{
    box-shadow: 1px 1px 5px 2px pink;

    }
    .title {
      font-size: 30px;
      font-weight: bold;
      background: linear-gradient(45deg,#EEAECA,#FC466B);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border-radius: 10px;
    }

    .icons {
      height: 50px;
      border-radius: 15px;
    }

    .move-button {
      background-color: transparent;
      border: 3px solid white;
      width: 120px;
      height: 120px;
      border-radius: 60px;
      margin: 10px;
      cursor: pointer;

    }

    .result {
      font-size: 25px;
      font-weight: bold;
      margin-top: 30px;
    }

    .reset-button,
    .autoplay-button {
      width: 100px;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
    .reset-button:hover{
      background-color: red;
    }
    .autoplay-button:hover{
      background-color: green
      }